# Large image files for the AMO listing
marketing

# Website
docs/.bundle
docs/_site
docs/vendor

# Generated during build
node_modules
dist
dist-chrome
.nyc_output
coverage

# Release engineering
releases/tab-stash-src-*
releases/tab-stash-*.zip
releases/tab-stash-src-*.tar.gz

# Data related to issues on GitHub
issues
