/* Colors */

html {
    --modal-bg: rgba(0, 0, 0, 0.3);

    --page-bg: #ffffff;
    --page-fg: #222426;
    --link-fg: #44484c;
    --userlink-fg: #287acc;
    --userlink-hover-fg: #448fda;
    --userlink-hover-bg: var(--button-bg);
    --userlink-active-fg: #66a3e1;

    --scroll-bar: #efefef;
    --scroll-handle: #d8d8d8;

    --ctrl-bg: #ffffff;
    --ctrl-border-clr: #c9c9c9;
    --button-bg: #ededed;
    --button-hover-bg: #dbdbdb;
    --button-active-bg: #c9c9c9;
    --select-arrow: url(icons/light/collapse-open.svg);

    --group-bg: #ffffff;
    --group-border: 1px solid #c0c0c0;

    --divider-border: 1px solid var(--ctrl-border-clr);

    --item-hover-bg: var(--button-bg);
    --item-active-bg: var(--button-active-bg);

    --shadow: 2px 2px 4px #c0c0c0;
    --shadow-faint: 2px 2px 4px #d8d8d8;
}

html.tab-view {
    --page-bg: #efefef;
}

@media (prefers-color-scheme: dark) {
    html {
        --modal-bg: rgba(0, 0, 0, 0.5);

        --page-bg: #2a2a2e;
        --page-fg: #f9f9fa;
        --link-fg: #e0e0e2;
        --userlink-fg: #80bfff;
        --userlink-hover-fg: #57abff;
        --userlink-active-fg: #2e96ff;

        --scroll-bar: #242426;
        --scroll-handle: #48484e;

        --ctrl-bg: #2a2a2e;
        --ctrl-border-clr: #808085;
        --button-bg: #5c5c61;
        --button-hover-bg: #6e6e73;
        --button-active-bg: #808085;
        --select-arrow: url(icons/dark/collapse-open.svg);

        --group-bg: #48484e;
        --group-border: 1px solid #3a3a3e;

        --shadow: 2px 2px 4px #3a3a3e;
        --shadow-faint: 2px 2px 4px #3a3a3e;
    }

    html.tab-view {
        --page-bg: #2a2a2e;
        --scroll-bar: #2a2a2e;
    }
}

/*
  Metrics.

  Prefixes:
    --m*  margin
    --p*  padding

  Suffixes:
    *-w   width
    *-h   height
*/
html {
    /* XXX rename me to something more descriptive */
    --margin: 1.5rem;

    --m-menu-w: 12px;
    --m-menu-h: 6px;

    --p-dialog-w: var(--margin);
    --p-dialog-h: calc(var(--margin) / 2);

    --ctrl-border: 1px solid var(--ctrl-border-clr);
    --ctrl-border-radius: 5px;
    --p-ctrl-w: 6px;
    --p-ctrl-h: 3px;
    --m-ctrl-w: 8px;
    --m-ctrl-h: 6px;

    --p-ephemeral-w: 3px;
    --p-ephemeral-h: 1.5px;
    --m-ephemeral-w: 2px;
    --m-ephemeral-h: 2px;
}

@media all and (max-width: 30rem) {
    html {
        --p-dialog-w: calc(var(--margin) / 2);
    }
}

/* Styling */

html {
    font: caption;
    -moz-user-select: none;
    user-select: none;
}
html, body {
    background-color: var(--page-bg);
    color: var(--page-fg);
    scrollbar-color: var(--scroll-handle) var(--scroll-bar);
    margin: 0;
    padding: 0;
}
:focus {
    box-shadow: 0 0 2px 2px highlight;
    outline: none;
}
a, a:visited {
    color: var(--userlink-fg);
    text-decoration: underline;
}
a:hover, a:focus-within { background-color: var(--userlink-hover-bg); }
a:hover, a:focus-within { color: var(--userlink-hover-fg); }
a:active, a:focus-within {
    box-shadow: none;
    background-color: var(--userlink-hover-bg);
}
a:active, a:focus-within { color: var(--userlink-active-fg); }

.modal-backdrop {
    background-color: var(--modal-bg);
}
.modal-backdrop > * {
    max-width: 100%;
    max-height: 100%;
    /* Needed so padding is taken into account when sizing child elements */
    box-sizing: border-box;
}
.dialog {
    background-color: var(--group-bg);
    border: var(--group-border);
    box-shadow: var(--shadow);
    padding: var(--p-dialog-h) var(--p-dialog-w);
    display: grid;
}
.dialog, .dialog * {
    row-gap: var(--m-ctrl-h);
    column-gap: var(--m-ctrl-w);
}

.clickme {
    box-shadow: 0 0 4px 0px var(--userlink-fg);
    background-color: var(--userlink-fg);
    color: var(--page-bg);
}
.clickme:hover { background-color: var(--userlink-hover-fg); }
.clickme:active { background-color: var(--userlink-active-fg); }
.clickme:focus-within { box-shadow: 0 0 2px 2px highlight; } /* XXX dup of :focus */

.export-dialog output, .import-dialog .input {
    display: block;
    border: var(--ctrl-border);
}

.export-dialog output h3 {
    margin-top: 12pt;
    font-size: 12pt;
}

/* Define a fixed width for progress dialogs so they're not constantly resizing
   as statuses are changing. */
.progress > .dialog { width: 50rem; }

/* add some extra vertical margin around the top-level progress */
.dialog > .progress-item { margin: var(--m-menu-h) 0; }
.progress-item ul { padding-left: var(--margin); }

.hidden { display: none !important; }

.tab:hover, .tab:focus-within {
    cursor: pointer;
    background-color: var(--item-hover-bg);
}
a.tab, a.tab:visited { color: var(--link-fg); text-decoration: none; }
a.tab.open, a.tab.open:visited { color: var(--userlink-fg); }

header { margin: 4px 16px; }
header.page {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    align-items: center;
}

.menu > summary, .menu > summary > .action {
    display: inline-block;
    border-bottom-left-radius: 0 !important; /* overrides action-container */
    border-bottom-right-radius: 0 !important; /* overrides action-container */
}
.menu[open] > summary { box-shadow: var(--shadow); }
.menu > nav {
    padding: var(--m-menu-h) 0;
    background-color: var(--group-bg);
    box-shadow: var(--shadow);
    border: var(--group-border);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.menu > nav > * {
    cursor: default;
    margin: 0;
    padding: 0 var(--m-menu-w);
}
.menu > nav > a, .menu > nav > button {
    display: flex;
    align-items: center;
    min-height: 24px;
    border: none;
    border-radius: 0;
    color: var(--link-fg);
    text-decoration: none;
    background: transparent;
    text-align: left;
    white-space: nowrap;
}
.menu > nav > a:hover, .menu > nav > a:focus-within,
.menu > nav > button:hover, .menu > nav > button:focus-within {
    background-color: var(--item-hover-bg);
}
.menu > nav > a:active, .menu > nav > button:active {
    background-color: var(--item-active-bg);
}
.menu > nav > hr {
    margin: var(--m-menu-h) 0;
    padding: 0;
    border: none;
    border-top: var(--divider-border);
}

aside.notification {
    display: grid;
    grid-template-columns: 1fr 0fr;
    align-items: center;
    background-color: rgba(40, 122, 204, 0.16); /* 287acc */
    border-radius: var(--ctrl-border-radius);
    margin-top: var(--margin);
}
aside.notification:hover {
    background-color: rgba(40, 122, 204, 0.24); /* 287acc */
}
aside.notification .contents {
    margin: 4px 8px;
}

.page.footer {
    padding: 16px 16px 8px;
    text-align: center;
}
.status-text, .status-text a, .whats-new .issue, .whats-new .issue a {
    color: #889099;
    font-style: italic;
}
.status-text a:hover, .whats-new .issue a:hover {
    color: var(--userlink-fg);
    text-decoration: underline;
}

/* Ephemeral input boxes (shouldn't look like such until you click on them) */
.ephemeral {
    margin: var(--m-ephemeral-h) var(--m-ephemeral-w);
    padding: var(--p-ephemeral-h) var(--p-ephemeral-w);
    border: none;
    border-radius: 2px;
    background: transparent;
    min-width: 2em;
    text-overflow: ellipsis;
}
.ephemeral:focus {
    background-color: var(--ctrl-bg);
}

/* Website Icons (favicons) and misc. other icons (that aren't buttons) */
.icon {
    width: 16px;
    height: 16px;
    background-position: 50% 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

/* Form/dialog controls */
button, input, select {
    display: inline-block;

    font: caption;
    color: var(--page-fg);
    padding: var(--p-ctrl-h) var(--p-ctrl-w);

    vertical-align: middle;
    white-space: nowrap;
}
input {
    background-color: var(--ctrl-bg);
    border: var(--ctrl-border);
}
button, select, .action {
    border: none;
    border-radius: var(--ctrl-border-radius);
    background-color: var(--button-bg);
}
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: var(--select-arrow);
    background-position: right var(--p-ctrl-w) top 50%;
    background-size: 12px;
    background-repeat: no-repeat;
    padding-right: calc(var(--p-ctrl-w) + 12px);
}
option {
    font: caption;
    color: var(--ctrl-fg);
    background-color: var(--ctrl-bg);
}
button:hover, select:hover { background-color: var(--button-hover-bg); }
button:active, select:active { background-color: var(--button-active-bg); }

/* Action/toolbar buttons */

/* .action is used for icon/toolbar buttons */
.action {
    display: inline-block;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    padding: 4px 4px;
    text-align: center;
    vertical-align: middle;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: default;
}
.action:hover, .action:focus-within, details[open] > summary.action {
    background-color: var(--button-hover-bg);
}
.action:hover, .action:focus-within { box-shadow: none; }
.action:active { background-color: var(--button-active-bg); }

nav.action-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
nav.action-container .action { border-radius: 0; } /* overrides button border */
nav.action-container > :first-child, nav.action-container .first-toolbar-button {
    border-top-left-radius: var(--ctrl-border-radius);
    border-bottom-left-radius: var(--ctrl-border-radius);
}
nav.action-container > :last-child, nav.action-container .last-toolbar-button {
    border-top-right-radius: var(--ctrl-border-radius);
    border-bottom-right-radius: var(--ctrl-border-radius);
}

/* Specific Actions */
.icon-folder { background-image: url(icons/light/folder.svg); }
.action.mainmenu { background-image: url(icons/light/mainmenu.svg); }
.action.collapse { background-image: url(icons/light/collapse-closed.svg); }
.action.expand { background-image: url(icons/light/collapse-open.svg); }
.action.cancel { background-image: url(icons/light/cancel.svg); }
.action.stash { background-image: url(icons/light/stash.svg); }
.action.stash.one { background-image: url(icons/light/stash-one.svg); }
.action.stash.newgroup { background-image: url(icons/light/new-empty-group.svg); }
.action.restore { background-image: url(icons/light/restore.svg); }
.action.restore-remove { background-image: url(icons/light/restore-del.svg); }
.action.remove { background-image: url(icons/light/delete.svg); }
.action.remove.stashed { background-image: url(icons/light/delete-stashed.svg); }
.action.remove.opened { background-image: url(icons/light/delete-opened.svg); }

.action-container:hover .action.stash, .whats-new .improved {
    background-color: #cce5ff;
}
.action-container:hover .action.stash:hover {
    background-color: #b7cee5;
}
.action-container:hover .action.stash:active {
    background-color: #a3b7cc;
}
.action-container:hover .action.restore, .whats-new .added {
    background-color: #b0ffc0;
}
.action-container:hover .action.restore:hover {
    background-color: #9ee5ac;
}
.action-container:hover .action.restore:active {
    background-color: #8ccc99;
}
.action-container:hover .action.restore-remove, .whats-new .fixed {
    background-color: #f0f090;
}
.action-container:hover .action.restore-remove:hover {
    background-color: #d6d680;
}
.action-container:hover .action.restore-remove:active {
    background-color: #bcbc71;
}
.action-container:hover .action.remove, .whats-new .removed {
    background-color: #ffe0e0;
}
.action-container:hover .action.remove:hover {
    background-color: #e5c9c9;
}
.action-container:hover .action.remove:active {
    background-color: #ccb3b3;
}

/* Folders */
.folder-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folder {
    flex: 1 1 auto;
    width: 100%;
}

.folder .header {
    margin: 6px 0;
    padding: 6px 16px 4px;
    display: grid;
    grid-template-columns: 0fr 1fr 0fr 0fr;
    align-items: center;
    border-bottom: var(--divider-border);
}

.folder-name {
    grid-row: 1;
    grid-column: 1 / 4;
    display: block;
    font: caption;
    font-weight: bold;
    font-size: 13pt;
    margin-left: -3px;
}
.folder-name.disabled { color: rgba(128, 128, 128); }
.folder .header nav.action-btnbox {
    grid-row: 2;
    grid-column: 1;
}
.folder .header .collapse-btnbox {
    grid-row: 1;
    grid-column: 4;
    display: none;
}
.folder:hover .header .collapse-btnbox,
.folder:focus-within .header .collapse-btnbox,
.collapsed.folder .header .collapse-btnbox {
    display: flex;
}
.folder:hover .header .folder-name,
.folder:focus-within .header .folder-name,
.collapsed.folder .header .folder-name {
    grid-column: 1 / 3;
}
.folder .contents {
    list-style: none;
    padding: 0;
    margin: 0 0 1em 0;
}
.folder .contents .tabs {
    min-height: 12px;
    padding-bottom: 0;
}

/* Tab entries and other folder contents (e.g. count of hidden tabs) */
.folder-item {
    display: grid;
    grid-template-columns: 0fr 22px 1fr 0fr;
    align-items: center;
    padding: 0 16px;
    height: 24px; /* matches .action height XXX */
}
.folder-item:hover, .folder-item:focus-within {
    background-color: var(--userlink-hover-bg);
}
.folder-item-nesting {
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
}
.folder-item > * {
    margin: 0 3px;
    padding: 0;
}
.folder-item > .indent {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex: 0 0;
}
.indent-spacer { display: inline-block; width: 16px; }
.folder-item > .icon {
    grid-row: 1;
    grid-column: 2;
}
.folder-item > .text {
    grid-row: 1;
    grid-column: 3;
    height: 24px; /* matches folder-item height XXX */
    /* to vertically center text while text-overflow: ellipsis; */
    line-height: 24px; /* matches folder-item height XXX */
}
.folder-item > nav {
    display: none;
    grid-row: 1;
    grid-column: 4;
}
.folder-item:hover > nav, .folder-item:focus-within > nav { display: flex; }
span.folder-name, .folder-item > .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Collapsed folders */
.tab-view .folder .header nav.action-btnbox,
.collapsed.folder .header nav.action-btnbox {
    display: none;
    grid-row: 1;
    grid-column: 3;
}

.tab-view .folder:hover .header nav.action-btnbox,
.tab-view .folder:focus-within .header nav.action-btnbox,
.collapsed.folder:hover .header nav.action-btnbox,
.collapsed.folder:focus-within .header nav.action-btnbox
{ display: flex; }

.collapsed.folder .header { margin-bottom: 0px; }
.collapsed.folder .contents { display: none; }
.collapsed.folder .action.collapse { display: inline-block; }

/* Drag-and-Drop */
.sortable-ghost {
    background-color: var(--item-hover-bg);
    opacity: 0.6;
}



/***
 * Mods for when in tab view -- uses a multi-column display format
 ***/

.tab-view header {
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.tab-view aside.notification {
    margin-bottom: var(--margin);
}

.tab-view .folder-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 calc(var(--margin) / 2);
}
.tab-view .one-column .folder {
    flex: 1 1 auto;
    width: 100%;
}
.tab-view .folder {
    flex: 1 1 25rem;
    margin: calc(var(--margin) / 2);
    background-color: var(--group-bg);
    border: var(--group-border);
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;
}
.tab-view .collapsed.folder {
    background: #f4f4f4;
    border: 1px solid #d8d8d8;
    box-shadow: var(--shadow-faint);
}

.tab-view .folder .header { flex: 0 0 auto; }
.tab-view .folder .header nav {
    margin-left: 3px;
}

.tab-view .folder .contents { flex: 1 1 auto; }

/* Don't show the "stash this tab" button on folders when we are the
   current tab (and not the sidebar) */
.tab-view .action.stash.one.here {
    display: none;
}



/***
 * A few small tweaks for the whats-new page so it has the same spacing as the
 * stash list.
 ***/

.whats-new:not(.tab-view) h1 {
    font-size: 15pt;
}

.whats-new .folder .contents {
    padding: 0;
    margin-left: 32px;
    margin-right: 16px;
    margin-top: 0;
}
.whats-new ul {
    margin: 0 0 0 32px;
    padding: 0;
}
.whats-new li {
    margin: 8px 0;
}

.whats-new.tab-view .status-text {
    margin-bottom: 1em;
}

.whats-new .added, .whats-new .improved, .whats-new .fixed, .whats-new .removed
{
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 4px;
    padding: 0 4px;
}

.whats-new img.inl {
    height: 16px;
    vertical-align: bottom;
}



/*
 * Dark theme; this is at the bottom so it takes precedence over
 * everything else above.
 */
@media (prefers-color-scheme: dark) {
    body.options { background-color: #202023; color: var(--page-fg); }

    .status-text, .status-text a, .whats-new .issue {
        color: #a0a4ac;
    }

    input { color: var(--page-fg); }
    input:focus {
        background-color: #2a2a2e;
        border-color: rgba(255, 255, 255, 0.32);
    }

    aside.notification {
        background-color: rgba(128, 191, 255, 0.32); /* matches a.open */
    }
    aside.notification:hover {
        background-color: rgba(128, 191, 255, 0.48);
    }

    .icon-folder { background-image: url(icons/dark/folder.svg); }
    .action.mainmenu { background-image: url(icons/dark/mainmenu.svg); }
    .action.collapse { background-image: url(icons/dark/collapse-closed.svg); }
    .action.expand { background-image: url(icons/dark/collapse-open.svg); }
    .action.cancel { background-image: url(icons/dark/cancel.svg); }
    .action.stash { background-image: url(icons/dark/stash.svg); }
    .action.stash.one { background-image: url(icons/dark/stash-one.svg); }
    .action.stash.newgroup { background-image: url(icons/dark/new-empty-group.svg); }
    .action.restore { background-image: url(icons/dark/restore.svg); }
    .action.restore-remove { background-image: url(icons/dark/restore-del.svg); }
    .action.remove { background-image: url(icons/dark/delete.svg); }
    .action.remove.stashed { background-image: url(icons/dark/delete-stashed.svg); }
    .action.remove.opened { background-image: url(icons/dark/delete-opened.svg); }
    .action-container:hover .action.stash, .whats-new .improved {
        background-color: #3d6899;
    }
    .action-container:hover .action.stash:hover {
        background-color: #4779b2;
    }
    .action-container:hover .action.stash:active {
        background-color: #518acc;
    }
    .action-container:hover .action.restore, .whats-new .added {
        background-color: #337f42;
    }
    .action-container:hover .action.restore:hover {
        background-color: #3d994f;
    }
    .action-container:hover .action.restore:active {
        background-color: #47b25c;
    }
    .action-container:hover .action.restore-remove, .whats-new .fixed {
        background-color: #727216;
    }
    .action-container:hover .action.restore-remove:hover {
        background-color: #8c8c1c;
    }
    .action-container:hover .action.restore-remove:active {
        background-color: #a5a521;
    }
    .action-container:hover .action.remove, .whats-new .removed {
        background-color: #7f5151;
    }
    .action-container:hover .action.remove:hover {
        background-color: #996161;
    }
    .action-container:hover .action.remove:active {
        background-color: #b27272;
    }

    .folder-name.disabled { color: #c0c0c0; }

    .sortable-ghost { background-color: rgba(255, 255, 255, 0.16); }

    .tab-view .collapsed.folder {
        background: #3a3a3e;
        border-color: #3a3a3e;
    }
}
