html {
    --page-pw: 16px;
    --page-ph: 12px;

    --icon-size: 16px;
    --icon-p: 4px;
    --icon-btn-size: calc(var(--icon-size) + 2 * var(--icon-p));

    --focus-shadow: 0 0 2px 2px highlight;
    --ephemeral-hover-shadow: 0 0 1px 1px var(--ephemeral-hover-shadow-clr);

    --notification-mw: var(--page-ph);
    --notification-mh: var(--page-ph);
    --notification-fade-time: 200ms;

    --modal-fade-time: 100ms;

    --group-border: 1px solid var(--group-border-clr);
    --group-headerhr-mh: var(--ctrl-mh);

    --ctrl-border: 1px solid var(--ctrl-border-clr);
    --ctrl-border-radius: 5px;
    --ctrl-pw: 6px;
    --ctrl-ph: 3px;
    --ctrl-mw: 8px;
    --ctrl-mh: 6px;

    --dialog-pw: var(--page-pw);
    --dialog-ph: var(--page-ph);

    --menu-mw: 12px;
    --menu-mh: var(--ctrl-mh);

    --input-text-pw: 3px;
    --input-text-ph: 2px;
    --input-text-border-radius: 3px;

    // Width of the marker for an active tab.
    --active-marker-bw: 4px;

    // Used only for text lists; lists with icons should be indented according
    // to the icon size.
    --text-list-indent-w: var(--icon-btn-size);

    --group-disabled-border: 1px solid var(--group-disabled-border-clr);

    --item-h: var(--icon-btn-size); /* must match because items have favicons */
}
