name: ci

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Inkscape
        run: sudo apt-get install -y inkscape
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install Node Modules
        run: make node_modules
      - name: Check Types
        run: make check-types
      - name: Check Style
        run: make check-style
      - name: Build
        run: make build-dbg build-chrome-dbg
      - name: Test
        run: make check-tests
      - name: Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage/lcov.info
      - name: Make Firefox Package (Debug)
        uses: actions/upload-artifact@v3
        with:
          name: firefox
          path: dist/**/*
      - name: Make Chrome Package (Debug)
        uses: actions/upload-artifact@v3
        with:
          name: chrome
          path: dist-chrome/**/*
